html, body {
  height: 100%;
  margin: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
}
.not_body {
}